<nav>
  <div class="site-title">
    <a href="/"><h1>Blog Ninja made by Fabian</h1></a>
    <p>A blog site developed for me at Node course</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>