<!-- Create the about.ejs -->

<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <!-- PARTIALS. In ejs, using include method. Don't forget the minus
  include the nav partial -->

  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About us</h2>

    <p>Mollit dolore nulla minim aute qui sint. Cupidatat tempor consequat eu adipisicing enim adipisicing qui fugiat duis velit ut exercitation. Laborum est adipisicing magna nulla dolor do aliquip. Consectetur excepteur nulla adipisicing dolor nulla reprehenderit amet eu in magna. Tempor mollit consequat mollit aliqua eiusmod esse voluptate et laboris veniam excepteur aliqua sit esse. Adipisicing velit ipsum ea dolor magna irure est ipsum sint ut minim ea laboris.</p>

    <p>Occaecat elit proident officia cupidatat et commodo irure in eu. Lorem elit irure occaecat labore. Quis fugiat occaecat id aute ex aliqua eiusmod fugiat enim enim sunt nostrud. Nostrud anim quis laborum enim irure incididunt incididunt incididunt.</p>

    <p>elit do tempor qui Lorem sunt eiusmod sit ullamco proident eiusmod. Labore exercitation est esse velit quis in veniam fugiat reprehenderit nostrud duis duis exercitation cupidatat. Magna cupidatat fugiat veniam occaecat nulla amet officia irure ea. In anim consectetur ipsum enim minim.</p>
  </div>

  <%- include('./partials/footer.ejs') %>
</body>
</html>